.rating {
    margin-left: 0.5em;
    cursor: pointer;
}


mat-chip {
    font-size: 16px;
    height: 40px;
}

.mat-chip.mat-standard-chip {
    background-color: 221, 221, 221;
}

.mama :hover {

        transform: rotate(180deg);
        transform-origin: center center;
        transition: transform .7s ease;
        cursor: pointer;
    

}

.tile {
    font-size: 16px;
    height: 40px;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.87);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 24px;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    margin: 4px;
}