<span class="tile">
  <span *ngIf="!fromSis">{{addedSkill.name}}</span>
  
  <form *ngIf="fromSis">
      <input [(ngModel)]="addedSkill.name" #userInput name="userInput" type="text" style="border: none; font-size: 16px; background-color: rgba(255,255,255, 0.3); padding: 5px; border-radius: 24px;">
      <!-- <i *ngIf="userInput" (click)="clearInput()">close</i> -->
  </form>

  <!-- jak to testować -->
  <span *ngIf="!fromSis" class="rating">
      <i *ngIf="addedSkill.lvl < 1" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.lvl >= 1" class="material-icons rating-stars">star</i>
      <i *ngIf="addedSkill.lvl < 2" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.lvl >= 2" class="material-icons rating-stars">star</i>
      <i *ngIf="addedSkill.lvl < 3" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.lvl >= 3" class="material-icons rating-stars">star</i>
      <i *ngIf="addedSkill.lvl < 4" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.lvl >= 4" class="material-icons rating-stars">star</i>
      <i *ngIf="addedSkill.lvl < 5" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.lvl >= 5" class="material-icons rating-stars">star</i>
  </span>

  <span *ngIf="fromSis" class="rating" style="cursor: pointer">
          <i *ngIf="addedSkill.lvl < 1" class="material-icons rating-stars" (click)="rate(1)">star_border</i> <i *ngIf="addedSkill.lvl >= 1" class="material-icons rating-stars" (click)="rate(1)">star</i>
          <i *ngIf="addedSkill.lvl < 2" class="material-icons rating-stars" (click)="rate(2)">star_border</i> <i *ngIf="addedSkill.lvl >= 2" class="material-icons rating-stars" (click)="rate(2)">star</i>
          <i *ngIf="addedSkill.lvl < 3" class="material-icons rating-stars" (click)="rate(3)">star_border</i> <i *ngIf="addedSkill.lvl >= 3" class="material-icons rating-stars" (click)="rate(3)">star</i>
        <i *ngIf="addedSkill.lvl < 4" class="material-icons rating-stars" (click)="rate(4)">star_border</i> <i *ngIf="addedSkill.lvl >= 4" class="material-icons rating-stars" (click)="rate(4)">star</i>
        <i *ngIf="addedSkill.lvl < 5" class="material-icons rating-stars" (click)="rate(5)">star_border</i> <i *ngIf="addedSkill.lvl >= 5" class="material-icons rating-stars" (click)="rate(5)">star</i>
      </span>
  <a class="mama" *ngIf="fromSis"><i class="material-icons close" style="margin: 0 5px; cursor: pointer;" (click)="delete()">close</i></a>
</span>
