@import './variables';

$pallete-blue: (
    50: $blue,
    100: $blue,
    200: $blue,
    300: $blue,
    400: $blue,
    500: $blue,
    600: $blue,
    700: $blue,
    800: $blue,
    900: $blue,
    A100: $blue,
    A200: $blue,
    A400: $blue,
    A700: $blue,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $black-87-opacity,
        900: $black-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$my-theme-primary: mat-palette($pallete-blue);
$my-theme-accent: mat-palette($mat-teal, 400, 200, 600);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

