// @import '../../styles/variables.scss';
@import '~/../src/styles/variables.scss';



.example-full-width {
    width: 100%;
}

#parent {
    display: flex;
    justify-content: space-around;
    // border: 1px solid black;
}

input-powerful {
    flex: 90%;
    // border: 1px solid purple;
}


// .icons {
//     flex: 10%;
//     // border: 1px solid grey;
// }
// i {
//     float: right;
//     margin: 10px;
//     cursor: pointer;
//     &:hover {
//         // transform: rotate(360deg);
//         // transform-origin: center center;
//         // transition: transform .5s ease;
//         animation: shake .5s cubic-bezier(.36,.07,.19,.97) backwards;
//     }
// }

// @keyframes shake {
//     10%, 90% {
//         transform: translate3d(-2px, 0, 0);
//     }
    
//     45% {
//         transform: translate3d(2px, 0, 0);
//     }
// }
.corner {
    position: absolute;
    right: 30px;
  }