<div id='parent'>
  <input-powerful [(editMode)]='editMode'></input-powerful> 

  <div class='icons'>
    <!-- <i *ngIf="addedSkills.length > 0" class="material-icons edit corner" style="cursor: pointer;" (click)='editSkill()'>edit</i> -->
    <!-- <i *ngIf="addedSkills.length > 0 && pen" class="material-icons edit corner" (click)="edit()" style="cursor: pointer;">edit</i>
    <i *ngIf="!pen" class="material-icons edit corner" (click)="edit()" style="cursor: pointer;">done</i> -->
    <i *ngIf="addedSkills.length > 0" class="material-icons edit corner" (click)="editSkill()" style="cursor: pointer;">edit</i>
    <!-- <i *ngIf="editMode" class="material-icons edit corner" (click)="editSkill()" style="cursor: pointer;">done</i> -->
    <!-- <i class='material-icons' (click)='editSkill()' *ngIf='!editMode'>edit</i>
    <i class='material-icons' (click)='editSkill()' *ngIf='editMode'>done_outline</i> -->
  </div>

</div>