<form class="example-form my-theme">
  <span style="color: rgba(0, 0, 0, 0.541); font-size: 11px;">Add or edit using the following pattern: name of the skill *level of expertise, e.g. Java *4. To add multiple tiles at once, separate them with a comma, e.g. JavaScript *5, Typescript *3.</span>
  <mat-form-field class="example-full-width">
    <!-- <em *ngIf="editMode">Edit mode. Approve with Enter. (Remember about pattern!)</em> -->
    <textarea matInput placeholder="np. Java *3" (keyup)="doMagic($event)" [value]='inputValue' ></textarea>
    <!-- <textarea matInput [placeholder]="getProperPlaceholder()" (keyup)="doMagic($event)" [value]='inputValue' ></textarea> -->
    <!-- <textarea matInput *ngIf='editMode'placeholder="What's your skills? Edit mode. (Remember about pattern!)" (keyup)="doMagic($event)" [value]='inputValue' ></textarea> -->
  </mat-form-field>
</form>



<!-- <div class="form-group" [ngClass]="{'error': abstract.invalid && (abstract.dirty || abstract.touched)}">
  <label for="abstract">Abstract:</label>
  <em *ngIf="abstract.invalid && abstract.touched && abstract?.errors.required">Required</em>
  <em *ngIf="abstract.invalid && abstract.dirty && abstract?.errors.maxlength">Cannot exceed 400 characters</em>
  <em *ngIf="abstract.invalid && abstract.dirty && abstract?.errors.restrictedWords">Restricted words found: {{abstract.errors.restrictedWords}}</em>
  <textarea formControlName="abstract" id="abstract" rows=3 class="form-control" placeholder="abstract..."></textarea>
</div> -->