.example-form {
    // min-width: 450px;
    // max-width: 950px;
    // width: 80%;
    margin: 5px;
}

.example-full-width {
    width: 100%;
}

// em {
//     float: right;
//     color: #ff6800;
//     font-size: 10px;
//     margin-top: -18px;
//     margin-right: 30px;
// }

// textarea {
//     height: 250px;
// }$orange: #ff6800;