<mat-card class="skill-card" style="color: rgba(0, 0, 0, 0.541);">
  <div class="padding">

    <mat-card-title>
      Languages
      <span style="color: rgba(0, 0, 0, 0.541); font-size: 0.5em; display: block; padding-top:10px;">
        Choose one of our most popular or add your own. If they don't apply to you, you don't have to delete them, we won't see them unless you choose them.
      </span>
    </mat-card-title>
    

    
    <mat-chip-list>
      <tile *ngFor="let exampleSkill of exampleSkills" [name]="exampleSkill.name" [exampleSkill]="exampleSkill"></tile>
    </mat-chip-list>
  </div>


  <mat-divider></mat-divider>


  <div class="container padding">
    <mat-chip-list>
      <!-- <main-tile *ngFor="let tile of skillsService.addedSkills" [addedSkill]="tile" [fromSis]="editMode"></main-tile> -->
      <main-tile *ngFor="let tile of addedSkills" [addedSkill]="tile" [fromSis]="editMode"></main-tile>
    </mat-chip-list>
    
      <!-- <i *ngIf="skillsService.addedSkills.length > 0 && pen" class="material-icons edit corner" (click)="edit()" style="cursor: pointer;">edit</i> -->
      <i *ngIf="addedSkills.length > 0 && pen" class="material-icons edit corner" (click)="edit()" style="cursor: pointer;">edit</i>
      <i *ngIf="!pen" class="material-icons edit corner" (click)="edit()" style="cursor: pointer;">done</i>

  </div>


  <div class="footer padding">
    <!-- <span style="font-size:0.8em;">Add below by following this pattern: Java *5. You can also add more</span> -->
    <!-- <i *ngIf="skillsService.addedSkills.length > 0" class="material-icons edit corner" style="cursor: pointer;">edit</i> -->
    <!-- <i *ngIf="addedSkills.length > 0" class="material-icons edit corner" style="cursor: pointer;">edit</i> -->
    <!-- <mat-form-field [floatLabel]="options.value.floatLabel">
      <mat-label>Add your own</mat-label>
      <input matInput placeholder="eg. Java" [formControl]="nameValue" (input)="addedName = $event.target.value" required>
    </mat-form-field> -->
    
    <form-skill-addition-powerfull></form-skill-addition-powerfull>
  </div>

</mat-card>