mat-form-field {
    margin-top: 30px;
    width: 100%;
  }
  
  .footer {
    background-color: #f2f2f2;
    margin: 0;
  }

.container {
  display: flex;
  min-height: 40px;
}

.corner {
  position: absolute;
  right: 30px;
}

.rating {
  cursor: pointer;
}

.skill-card {
  padding: 0;
  margin-left: 35%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.padding {
  padding: 20px 30px 30px 30px;
}