
  
  .white {
    
    padding: 5% 20% 5% 20%;
  }
  
  .grey {
    background-image: url("../assets/background-grey.png");
    background-repeat: repeat;
    padding: 5%;
  }
  
  
  .mat-tab-body-content {
    padding: 0;
  }

  .header {
    background-image: url("../assets/background-blue.png");
    background-repeat: repeat;
    padding: 1% 5% 4% 5%;
    color: white;
    font-weight: bold;
  }

  .flex-container {
    display: flex;
  }