

			<div class="header">
				<h1 style="margin-left: 70%; font-size: 4em;">GFT CV</h1>
				<h2 style="margin-left: 20%; margin-bottom: 10px; font-size: 3em;">Anna Szmel</h2>
				<span style="margin-left: 20%; font-size: 2em;">Software Engineer</span>
			</div>

			<div class="white flex-container" style="color: rgba(0, 0, 0, 0.541);">

				<div style="flex-grow:2; padding: 10% 20% 0 5%">

					<h2 style="font-size: 2.5em;">My Profile</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
				<img style="flex-grow:1" src="../assets/profile.png" style="max-height: 350px;">
			</div>
	

			<div class="grey" >
				<skills></skills>
				<skills></skills>
				<skills></skills>
				<skills></skills>

			</div>

