/* You can add global styles to this file, and also import other style files */


* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';